.header {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: space-between;

    padding: 20px 150px;
    height: 100px;
    background-color: transparent;
}

.linksContainer {
    display: flex;
    flex: 1;

}

.links {
    margin-left: 80px;
    font-size: 0.875rem;
}

.links a {
    margin-left: 47px;
}

.links a:first-child {
    margin-left: 0;
}

.headerMobile {
    display: none;
}

.nav__toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.15s linear;
}

.nav__toggle:hover, .nav__toggle:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--screen-height);
    position: relative;
    z-index: 5;
    visibility: hidden;
}

.nav__item {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
}

.nav__link {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
}

.nav__link:hover, .nav__link:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.menuicon {
    display: block;
    cursor: pointer;
    color: white;
  
    transform: rotate(0deg);
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (max-width: 900px) {
    .header {
        display: block;
        padding: 0;
    }
    
  }