.container {
    display: flex;
}

.container__column {
    position: relative;

    flex: 1;

    display: flex;
    flex-direction: column;
}

.container__content {
    flex: 1;
}

.form {
    max-width: 600px;
}

.imgDetail {
    position: absolute;
    right: 0;
    top: -120px;

    height: 763px;
}

.title{
    font-size: 48px;
    font-weight: 400;

    margin:160px 0 60px;
}

.detail {
    color: #FFEEA4;

    text-transform: uppercase;
    font-weight: 700;

    font-style: normal;
}

.description {
    margin-bottom: 60px;
}

.search {
    display: flex;
    flex: 1;

    width: 100%;
    padding: 12px 28px;
    color: #FFF;
    background: #7955E8;
    border: 1px solid #A68EEF;
    border-radius: 4px;

    margin-bottom: 30px;
}

.search::placeholder {
    font-weight: 400;
    color: #FFF;
}

.inputs {
    display: flex;
    flex: 1;
}

.inputs label:first-child {
    margin: 0;
}

.submit {
    flex: 1;

    margin-left: 48px;
    text-transform: uppercase;
}

.footer {
    background-color: #200E64;
    height: 300px;
}

@media (max-width: 900px) {
    .container {
        display: block;
        padding: 24px 24px 0;
    }

    .imgDetail {
        position: inherit;
        height: 475px;
        margin: 60px -24px 30px;
    }

    .title{
        font-size: 28px;
        font-weight: 400;
    
        margin:0 0 60px;
    }

    .search {
        font-size: 0.875rem;
        padding: 10px 20px;
        margin-bottom: 16px;
    }

    .inputs {
        margin-bottom: 1rem;
    }

    .submit {
        margin: 0;
        width: 100%;
    }

    .footer {
        height: 98px;
    }
    
  }