.container {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: space-between;

    padding: 20px 150px;
    background-color: transparent;
}

.nav {
    flex: 1;
}

.links {
    display: flex;
    align-items: center;
    flex: 1;

    margin-left: 80px;
}

.links a {
    margin-left: 47px;
}

.links a:first-child {
    margin-left: 0;
}

/* responsiveness css */
@media (max-width: 900px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        position: relative;
        padding: 29px;
    
        z-index: 3;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        width: 100%;
    }
    
    .links {
        display: block;
        width: 100%;
        margin: 202px auto auto;
        text-align: center;
    }

    .links a {
        margin-left: 0;
    }
}