.container {
    padding: 30px 150px 75px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin: auto;
    max-width: 1140px;
    
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content>* {
    flex: 1 360px;
    margin-bottom: 30px;
}



@media (max-width: 900px) {
    .container {
        padding: 31px 24px 27px;
    }
}